<a href="https://colab.research.google.com/github/KumarJonnala/HousingPricePrediction/blob/main/Hackathon_HousingPrice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Housing Valuation Prediction

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from warnings import filterwarnings
filterwarnings('ignore')

In [ ]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
housing_data = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Hackathon_PricePediction/train.csv')

In [ ]:
housing_data.head()

,ID,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [ ]:
test_data = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Hackathon_PricePediction/test.csv')
test_data.head()

,ID,area_type,availability,location,size,society,total_sqft,bath,balcony
0,0,Super built-up Area,Ready To Move,Chamrajpet,2 BHK,NaN,650,1.0,1.0
1,1,Super built-up Area,Ready To Move,7th Phase JP Nagar,3 BHK,SrncyRe,1370,2.0,1.0
2,2,Super built-up Area,Ready To Move,Whitefield,3 BHK,AjhalNa,1725,3.0,2.0
3,3,Built-up Area,Ready To Move,Jalahalli,2 BHK,NaN,1000,2.0,0.0
4,4,Plot Area,Ready To Move,TC Palaya,1 Bedroom,NaN,1350,1.0,0.0

In [ ]:
dist_data = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Hackathon_PricePediction/dist_from_city_centre.csv')
dist_data.head()

          location  dist_from_city
0       Whitefield            17.3
1   Sarjapur  Road            17.2
2  Electronic City            18.1
3   Kanakpura Road            26.5
4      Thanisandra            11.5

# Exploratory Data Analysis

In [ ]:
print(housing_data.shape)
print(test_data.shape)
print(dist_data.shape)

(10656, 10)
(2664, 9)
(500, 2)

In [ ]:
housing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10656 entries, 0 to 10655
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            10656 non-null  int64
 1   area_type     10656 non-null  object
 2   availability  10656 non-null  object
 3   location      10655 non-null  object
 4   size          10642 non-null  object
 5   society       6228 non-null   object
 6   total_sqft    10656 non-null  object
 7   bath          10591 non-null  float64
 8   balcony       10152 non-null  float64
 9   price         10656 non-null  float64
dtypes: float64(3), int64(1), object(6)
memory usage: 832.6+ KB

In [ ]:
dist_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   location        500 non-null    object
 1   dist_from_city  500 non-null    float64
dtypes: float64(1), object(1)
memory usage: 7.9+ KB

In [ ]:
housing_data['location'].value_counts()

Whitefield                433
Sarjapur  Road            303
Electronic City           234
Kanakpura Road            217
Thanisandra               178
                         ...
Sahyadri Layout             1
Laxminarayana Layout        1
Kanakadasa Layout           1
Indira Nagar 3rd Stage      1
Panathur Road,              1
Name: location, Length: 1197, dtype: int64

In [ ]:
df = pd.merge(left = housing_data, right = dist_data, how = 'outer', on = 'location' )
df.head()

,ID,area_type,availability,location,size,society,total_sqft,bath,balcony,price,dist_from_city
0,0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07,19.3
1,155,Super built-up Area,18-Jul,Electronic City Phase II,2 BHK,Sryalan,1020,2.0,1.0,30.60,19.3
2,292,Super built-up Area,Ready To Move,Electronic City Phase II,2 BHK,Coush W,1069,2.0,2.0,45.00,19.3
3,354,Super built-up Area,18-May,Electronic City Phase II,1 BHK,SNbay G,630,1.0,1.0,28.35,19.3
4,461,Super built-up Area,18-May,Electronic City Phase II,3 BHK,Sryalan,1220,2.0,1.0,35.23,19.3

In [ ]:
df.describe()

                 ID          bath       balcony         price  dist_from_city
count  10656.000000  10591.000000  10152.000000  10656.000000     9630.000000
mean    5327.500000      2.690586      1.581757    112.214256       15.191080
std     3076.266568      1.352403      0.821357    142.231967        6.242696
min        0.000000      1.000000      0.000000      8.000000        1.900000
25%     2663.750000      2.000000      1.000000     50.000000       11.100000
50%     5327.500000      2.000000      2.000000     72.000000       14.400000
75%     7991.250000      3.000000      2.000000    120.000000       17.400000
max    10655.000000     40.000000      3.000000   2700.000000       47.700000

In [ ]:
df.describe(include = 'object')

,area_type,availability,location,size,society,total_sqft
count,10656,10656,10655,10642,6228,10656
unique,4,79,1197,30,2364,1923
top,Super built-up Area,Ready To Move,Whitefield,2 BHK,GrrvaGr,1200
freq,7009,8468,433,4146,70,667

In [ ]:
df['area_type'].value_counts()

Super built-up  Area    7009
Built-up  Area          1927
Plot  Area              1651
Carpet  Area              69
Name: area_type, dtype: int64

In [ ]:
df.isnull().sum()

ID                   0
area_type            0
availability         0
location             1
size                14
society           4428
total_sqft           0
bath                65
balcony            504
price                0
dist_from_city    1026
dtype: int64

In [ ]:
df[['Rooms', 'Type']] = df["size"].str.split(" ", expand = True)

In [ ]:
df["bath"].fillna(df["bath"].median(), inplace = True)
df["balcony"].fillna(df["balcony"].median(), inplace = True)
df["dist_from_city"].fillna(df["dist_from_city"].median(), inplace = True)
df["Rooms"].fillna(df["Rooms"].median(), inplace = True)

In [ ]:
df.drop(['Type',], axis = 1, inplace = True)

In [ ]:
df.drop(['size',], axis = 1, inplace = True)

In [ ]:
df.drop(['society'], axis = 1, inplace = True)

In [ ]:
df.drop(['ID'], axis = 1, inplace = True)

In [ ]:
df["location"].mode()

0    Whitefield
dtype: object

In [ ]:
df["location"].fillna(('Whitefield'), inplace = True)

In [ ]:
df.isnull().sum()

area_type         0
availability      0
location          0
total_sqft        0
bath              0
balcony           0
price             0
dist_from_city    0
Rooms             0
dtype: int64

In [ ]:
df.head()

,area_type,availability,location,total_sqft,bath,balcony,price,dist_from_city,Rooms
0,Super built-up Area,19-Dec,Electronic City Phase II,1056,2.0,1.0,39.07,19.3,2
1,Super built-up Area,18-Jul,Electronic City Phase II,1020,2.0,1.0,30.60,19.3,2
2,Super built-up Area,Ready To Move,Electronic City Phase II,1069,2.0,2.0,45.00,19.3,2
3,Super built-up Area,18-May,Electronic City Phase II,630,1.0,1.0,28.35,19.3,1
4,Super built-up Area,18-May,Electronic City Phase II,1220,2.0,1.0,35.23,19.3,3

In [ ]:
df.dtypes

area_type          object
availability       object
location           object
total_sqft         object
bath              float64
balcony           float64
price             float64
dist_from_city    float64
Rooms              object
dtype: object

In [ ]:
df['Rooms'] = df['Rooms'].astype(int)

In [ ]:
df['total_sqft'].value_counts()

1200           667
1100           178
2400           163
1500           154
600            150
              ...
2215 - 2475      1
2476             1
3425             1
1551             1
499              1
Name: total_sqft, Length: 1923, dtype: int64

In [ ]:
l = []
for i in df['total_sqft']:
  if "-" in i:
    [a,b] = (i.split(sep = '-'))
    i = ((float(a)+float(b)/2))
    l.append(i)
  else: l.append(i)

In [ ]:
k = pd.DataFrame(l)
k.dtypes

0    object
dtype: object

In [ ]:
#################################################

In [ ]:
df.dtypes

area_type          object
availability       object
location           object
total_sqft         object
bath              float64
balcony           float64
price             float64
dist_from_city    float64
Rooms               int64
dtype: object

In [ ]:
sns.countplot(housing_data['ocean_proximity'])
plt.show()

KeyError: ignored

In [ ]:
sns.stripplot(y = housing_data['median_house_value'], x = housing_data['ocean_proximity'])
plt.show()

In [ ]:
# Data Correlation

In [ ]:
plt.figure(figsize = (10,8))

sns.heatmap(housing_data.iloc[:,:].corr(), annot = True)
plt.show()

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [ ]:
X = housing_data.iloc[ :, :-2]

vif = pd.DataFrame()
vif["VIF_Factor"] = [variance_inflation_factor(X.values,i) for i in range(X.shape[1])]
vif["Features"] = X.columns

print(vif)

In [ ]:
# The variables 'longitude','total_rooms','households' are being dropped to reduce correlation
# The variables are selected on the basis of vif value followed by trail and error approach of different combinations

In [ ]:
housing_data2 = housing_data.drop(['longitude','total_rooms','households'], axis = 1)
housing_data2.head()

In [ ]:
X = housing_data2.iloc[ :, :-2]

vif = pd.DataFrame()

vif["VIF_Factor"] = [variance_inflation_factor(X.values,i) for i in range(X.shape[1])]
vif["Features"] = X.columns

print(vif)

In [ ]:
# Variable distribution

In [ ]:
df_num = housing_data2.select_dtypes(np.number)

fig, ax = plt.subplots(nrows = 2, ncols = 3, figsize = (15,8))
plt.tight_layout()

for var, subplot in zip(df_num.columns,ax.flatten()):
    sns.boxplot(df_num[var], ax = subplot)

In [ ]:
# Treating the outliers

In [ ]:
housing_data2.shape

In [ ]:
q1 = housing_data2.quantile(0.25)
q3 = housing_data2.quantile(0.75)

iqr = q3-q1

In [ ]:
housing_data3 = housing_data2[~((housing_data2 < (q1 - 1.5*iqr)) | (housing_data2 > (q3 + 1.5*iqr))).any(axis=1)]
housing_data3.shape

In [ ]:
sns.pairplot(housing_data3)
plt.show()

In [ ]:
# The variables except latitude are close to normal distribution
# Some of the variables are right skewwed

# Train Test Split

In [ ]:
df_num = housing_data3.select_dtypes(include = np.number)

df_cat = housing_data3.select_dtypes(include = 'object')

df_cat = pd.get_dummies(df_cat,drop_first=True)
df_cat.head()

In [ ]:
# Standardizing the data

In [ ]:
df_num = df_num.apply(lambda x: (x - x.mean())/x.std(), axis = 0)

In [ ]:
housing_data4 = pd.concat([df_num, df_cat], axis= 1)
housing_data4.head()

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X = housing_data4.drop('median_house_value', axis= 1)
y = housing_data4['median_house_value']
                  
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 10)

# Linear Regression

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
LR_model = LinearRegression()
LR_model.fit(X_train, y_train)

In [ ]:
y_pred_train = LR_model.predict(X_train)
y_pred_test = LR_model.predict(X_test)

In [ ]:
from sklearn.metrics import mean_absolute_error, r2_score

In [ ]:
print("The r2_score of the train data is:", round(r2_score(y_train, y_pred_train),2))
print("The r2_score of the test data is:", round(r2_score(y_test, y_pred_test),2))

In [ ]:
print("The MAE of the train data is:", round(mean_absolute_error(y_train, y_pred_train),2))
print("The MAE of the test data is:", round(mean_absolute_error(y_test, y_pred_test),2))

In [ ]:
# The model has R squre of 0.6 which is a reasonable fit for a base model

# Decision Tree Regressor

In [ ]:
from sklearn.tree import DecisionTreeRegressor

In [ ]:
decision_tree = DecisionTreeRegressor(random_state=10)
decision_tree = decision_tree.fit(X_train, y_train)

In [ ]:
y_pred_train = decision_tree.predict(X_train)
y_pred_test = decision_tree.predict(X_test)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
rf_model = RandomForestRegressor()
rf_model = rf_model.fit(X_train, y_train)

In [ ]:
y_pred_train = rf_model.predict(X_train)
y_pred_test = rf_model.predict(X_test)

In [ ]:
print("The r2_score of the train data is:", round(r2_score(y_train, y_pred_train),2))
print("The r2_score of the test data is:", round(r2_score(y_test, y_pred_test),2))

In [ ]:
print("The MAE of the train data is:", round(mean_absolute_error(y_train, y_pred_train),2))
print("The MAE of the test data is:", round(mean_absolute_error(y_test, y_pred_test),2))

# Random Forest Regressor

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
rfr_model = RandomForestRegressor()
rfr_model = rfr_model.fit(X_train, y_train)

In [ ]:
y_pred_train = rf_model.predict(X_train)
y_pred_test = rf_model.predict(X_test)

In [ ]:
print("The r2_score of the train data is:", round(r2_score(y_train, y_pred_train),2))
print("The r2_score of the test data is:", round(r2_score(y_test, y_pred_test),2))

In [ ]:
print("The MAE of the train data is:", round(mean_absolute_error(y_train, y_pred_train),2))
print("The MAE of the test data is:", round(mean_absolute_error(y_test, y_pred_test),2))

# Fine tuning using GridSearchCV

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
tuned_paramaters = [{'max_depth': range(5, 50, 5),  
                     'min_samples_split': range(5, 50, 5)}]

rf = RandomForestRegressor()
rf_grid = GridSearchCV(estimator = rf, param_grid = tuned_paramaters, cv = 5)
rf_grid.fit(X_train, y_train)
rf_grid.best_params_

In [ ]:
rf_tuned_model = RandomForestRegressor(max_depth = rf_grid.best_params_['max_depth'],
                                       max_features = rf_grid.best_params_['max_features'],
                                       max_leaf_nodes = rf_grid.best_params_['max_leaf_nodes'],
                                       max_samples = rf_grid.best_params_['max_samples'],
                                        min_samples_leaf = rf_grid.best_params_['min_samples_leaf'],
                                       min_samples_split = rf_grid.best_params_['min_samples_split'])

rf_tuned_model.fit(X_train, y_train)

In [ ]:
y_pred_train = dt_tuned_model.predict(X_train)
y_pred_test = dt_tuned_model.predict(X_test)

In [ ]:
print("The r2_score of the train data is:", round(r2_score(y_train, y_pred_train),2))
print("The r2_score of the test data is:", round(r2_score(y_test, y_pred_test),2))

In [ ]:
print("The MAE of the train data is:", round(mean_absolute_error(y_train, y_pred_train),2))
print("The MAE of the test data is:", round(mean_absolute_error(y_test, y_pred_test),2))

The random forest with tuned parameters is considered as the best model because it is having the best metrics with r2 square and error metrics when both train and test data is considered. This also avoids over fitting.

Hence we consider the Random forest model among all the models. Further details are provided in the final report.